<p-dialog
    [header]="header"
    [(visible)]="display"
    [modal]="true"
    [closable]="false"
    [draggable]="false"
    styleClass="min-w-[280px]"
>
    <form class="flex flex-col gap-4" [formGroup]="campaignForm">
        <label class="flex flex-col">
            <span>Name</span>
            <input 
                formControlName="name"
                class="input-text" 
                pInputText
                type="text"
            />
            <div 
                *ngIf="name!.touched && name!.errors?.['required']"
                class="text-sm text-red-500"
            >
                Name is required
            </div>
        </label>

        <label class="flex flex-col">
            <span>Keywords</span>
            <p-multiSelect 
                formControlName="keywords"
                styleClass="w-full input-text h-[34px] px-0"
                [options]="keywords"
                placeholder="Select keywords"
            ></p-multiSelect>
        </label>

        <label class="flex flex-col">
            <span>Town</span>
            <p-dropdown 
                formControlName="town"
                styleClass="w-full h-[34px] flex items-center border border-gray-300"
                [options]="towns"
                placeholder="Select city"
                [filter]="true" 
                filterBy="name"
            ></p-dropdown>
        </label>

        <label class="flex flex-col">
            <span>Status</span>
            <p-dropdown 
                formControlName="status"
                styleClass="w-full h-[34px] flex items-center border border-gray-300"
                [options]="['on', 'off']" 
                [showClear]="true" 
                placeholder="Select status"
            ></p-dropdown>
        </label>

        <label class="flex flex-col">
            <span>Bid Amount</span>
            <p-inputNumber 
                formControlName="bidAmount"
                styleClass="w-full"
                inputId="minmaxfraction" 
                mode="currency" 
                inputStyleClass="input-text w-full"
                currency="PLN"
                locale="pl-PL"
            ></p-inputNumber>
        </label>

        <label class="flex flex-col">
            <span>Fund</span>
            <p-inputNumber 
                formControlName="fund"
                styleClass="w-full"
                inputId="minmaxfraction" 
                mode="currency" 
                inputStyleClass="input-text w-full"
                currency="PLN"
                locale="pl-PL"
            ></p-inputNumber>
        </label>

        <label class="flex flex-col">
            <span>Radius: {{campaignForm.get('radius')?.value}} km</span>
            <p-slider 
                formControlName="radius"
                styleClass="w-full mt-2"
                [min]="0"
                [max]="100"
            ></p-slider>
        </label>
    </form>
    <p-footer class="flex gap-2.5 flex-wrap">
        <button
            class="px-2 py-0.5 rounded-md bg-green-500 text-white hover:bg-green-600 animation-300"
            type="button"
            (click)="onConfirm()"
            [disabled]="!campaignForm.valid"
        >
            Confirm
        </button>
        <button
            class="px-2 py-0.5 rounded-md bg-red-500 text-white hover:bg-red-600 animation-300"
            type="button"
            (click)="onCancel()"
        >
            Cancel
        </button>
    </p-footer>
</p-dialog>
