<div class="w-full flex flex-col h-full">
    <img 
        class="w-full rounded-t-md flex-shrink-0"
        [src]="product.image" 
        [alt]="product.name" 
    />
    <div class="flex flex-col border p-3.5 border-gray-300 border-t-0 rounded-b-md gap-5 h-full justify-between">
        <div class="flex gap-2.5 justify-between">
            <h2 class="text-xl font-semibold inline-block overflow-hidden text-ellipsis">{{product.name}}</h2>
            <p class="text-gray-600 text-end shrink-0">{{product.price}} zł</p>
        </div>
        <div class="flex gap-4 items-center justify-end">
            <span class="pi pi-pencil text-blue-500 hover:text-blue-600 hover:scale-125 animation-300 cursor-pointer"></span>
            <span class="pi pi-trash text-red-500 hover:text-red-600 hover:scale-125 animation-300 cursor-pointer"></span>
        </div>
    </div>
    <div class="py-2 px-3.5 border border-gray-300 rounded-b-md border-t-0 -mt-1">
        <div *ngIf="product.campaign; then showBlock else addBlock"></div>
        <ng-template #addBlock>
            <button 
                class="flex items-center gap-2 group justify-between w-full"
                type="button"
                (click)="displayAddCampaignModal=true"
            >
                <p class="text-sm text-gray-400 group-hover:text-gray-500 animation-300">Add campaign</p>
                <span class="pi pi-plus text-sm text-gray-400 group-hover:text-gray-500 animation-300"></span>
            </button>
        </ng-template>
        <ng-template #showBlock>
            <button 
                class="flex items-center gap-2 group justify-between w-full"
                type="button"
                (click)="toggleCampaignVisibility($event)"
            >
                <p class="text-sm text-gray-400 group-hover:text-gray-500 animation-300">{{ showCampaign ? 'Hide' : 'Show' }} campaign</p>
                <span 
                    class="pi text-sm text-gray-400 group-hover:text-gray-500 animation-300"
                    [ngClass]="showCampaign ? 'pi-minus' : 'pi-plus'"
                ></span>
            </button>
            <p-overlayPanel #op (onHide)="showCampaign=false">
                <div class="w-full flex flex-col gap-2">
                    <h2 class="text-lg font-bold text-black">{{ product.campaign?.name }}</h2>
                    <div class="flex flex-row flex-wrap justify-between gap-y-2 gap-x-5">
                        <div class="flex flex-col gap-2">
                            <p><span class="font-semibold text-black">Keywords: </span>{{ product.campaign?.keywords?.join(', ') }}</p>
                            <p><span class="font-semibold text-black">Bid Amount: </span>{{ product.campaign?.bidAmount }} zł</p>
                            <p><span class="font-semibold text-black">Fund: </span>{{ product.campaign?.fund }} zł</p>
                        </div>
                        <div class="flex flex-col gap-2">
                            <p><span class="font-semibold text-black">Status: </span><span class="uppercase">{{ product.campaign?.status }}</span></p>
                            <p><span class="font-semibold text-black">Town: </span>{{ product.campaign?.town }}</p>
                            <p><span class="font-semibold text-black">Radius: </span>{{ product.campaign?.radius }} km</p>
                        </div>
                    </div>
                    <div class="flex gap-4 items-center justify-end pt-2">
                        <button (click)="displayEditCampaignModal = true">
                            <span class="pi pi-pencil text-blue-500 hover:text-blue-600 hover:scale-125 animation-300 cursor-pointer"></span>
                        </button>
                        <button (click)="confirm()">
                            <span class="pi pi-trash text-red-500 hover:text-red-600 hover:scale-125 animation-300 cursor-pointer"></span>
                        </button>
                    </div>
                </div>
                <p-confirmDialog>
                    <ng-template pTemplate="message" let-message>
                        <p class="text-black">{{ message.message }}</p>
                    </ng-template>
                </p-confirmDialog>
            </p-overlayPanel>
        </ng-template>
    </div>
</div>

<app-add-edit-campaign
    [display]="displayAddCampaignModal"
    (confirm)="onConfirmAdd($event)"
    (cancel)="closeAddCampaignModal()"
    header="Add Campaign"
></app-add-edit-campaign>

<app-add-edit-campaign
    [campaign]="product.campaign!"
    [display]="displayEditCampaignModal"
    (confirm)="onConfirmEdit($event)"
    (cancel)="closeEditCampaignModal()"
    header="Add Campaign"
></app-add-edit-campaign>
